
<a style="cursor: pointer"
   [routerLink]=[id]
   routerLinkActive="active"
   class="list-group-item clearfix">

    <div class="row">
      <div class="col-xs-12">
        <div class="col-xs-2">
          {{user.name.first}}
        </div>
        <div class="col-xs-2">
         {{user.name.last}}
        </div>
        <div class="col-xs-3">
          {{user.cell}}
        </div>
        <div class="col-xs-3">
          {{user.email}}
        </div>
        <div class="col-xs-2">
          {{user.dob.date}}
        </div>
      </div>
    </div>

</a>
