<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-2">
      <h3>First Name</h3>
    </div>
    <div class="col-xs-2">
      <h3>Last Name</h3>
    </div>
    <div class="col-xs-3">
      <h3>Phone Number</h3>
    </div>
    <div class="col-xs-3">
      <h3>Email</h3>
    </div>
    <div class="col-xs-2">
      <h3>DOB</h3>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-xs-12">
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">


    <app-user-item *ngFor="let user of users let i = index"
                     [id] = "i"
    [user]="user"> </app-user-item>
<!--    <app-user-item *ngFor="let user of users let i = index"-->
<!--                          [id] = "i"-->
<!--                           > </app-user-item>-->
  </div>
</div>



